*.*swp
include/*.*swp
python/__pycache__
python/__pycache__/*
scripts/__pycache__
scripts/__pycache__/*
python/
build/*
build
Release/*
Release
Debug/*
Debug/
scripts/asm/*
data/*

include/parsing/asm/parser.tab.c
include/parsing/asm/parser.tab.h
include/parsing/asm/lex.yy.c
include/parsing/sdl/parser.tab.c
include/parsing/sdl/parser.tab.h
include/parsing/sdl/lex.yy.c

.DS_Store
*/.DS_Store

tracer_build/
tracer_build/*
memory_build/
memory_build/*

*/logs/
*/logs/*
