[submodule "stim"]
	path = stim
	url = https://github.com/quantumlib/Stim.git
[submodule "dependencies/qes"]
	path = dependencies/qes
	url = git@github.com:suhaskvittal/qes.git
[submodule "dependencies/vtils"]
	path = dependencies/vtils
	url = git@github.com:suhaskvittal/vtils.git
